@model IEnumerable<ExercicioEmprestimo.Models.Emprestimo>

@{
    ViewData["Title"] = "Emprestimo";
}

<h1>Emprestimo</h1>

<p>
    <a asp-action="Create"class="btn btn-primary">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalParcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataContratacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRestante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalParcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataContratacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRestante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
